@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75,100..900;1,75,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  color: #243e63;
}

/*GENERAL*/
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: none;
}

.container {
  padding: 30px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
  font-size: 48px;
  line-height: 1.25;
  color: #1a202c;
  font-weight: 700;
}

span {
  color: #6415ff;
}

p {
  color: #243E63;
}

section {
  padding: 0 32px;
}

img {
  max-width: 100%;
}

/*NAVIGATION*/
nav {
  display: flex;
  padding-top: 32px;   
}

.nav__row {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 0 auto;    
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 8px; 
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  width: 40px;
}

.nav__logo--title {
  color: #243E63;
  font-size: 24px;
  font-weight: 900;
}

.nav__links {
  display: flex;
  list-style: none;
  letter-spacing: 0.35px;
  gap: 40px;
  align-items: center;
}

.nav__link {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  color: #243E63;
  font-weight: 600;
  padding-bottom: 6px;
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 2px;
    background-color: rgb(100, 21, 255);
    transition: opacity 300ms ease;
    opacity: 0;
}

.nav__link:hover::after {
    opacity: 1;
}

.nav__link.login {
  margin-left: 36px;
}

.nav__btn {
  color: white;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(100, 21, 255);
  border-radius: 40px;
  border: none;
  cursor: pointer;
  padding: 12px 32px;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav__btn:hover {
  background-color: rgb(76, 8, 211);
}

.nav__menu {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/*HEADER*/
header .container {
  padding: 5rem 0;
}

header .row {
  display: flex;
  align-items: center;
}

.header__description {
  max-width: 40%;
}

.header__img--main {
  max-width: 60%;
}

.header__para {
  margin: 36px 0;
  font-size: 18px;
  line-height: 1.5;
  color: #243E63;
}

.header__email {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  max-width: 448px;
  border: 2px solid #dcdcdc;
  border-radius: 40px;
  padding: 2px;
  background-color: white;
  height: 68px;
}

.header__email--entry {
  color: #243E63;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  border: none;
  border-radius: 40px;
  padding-left: 24px;
  outline: none;
  flex: 1;
  width: 100%;
}

.btn {
  color: white;
  font-size: 16px;
  font-weight: 700;
  background-color: rgb(100, 21, 255);
  border-radius: 40px;
  border: none;
  z-index: 2;
  margin: 8px;
  width: 160px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: 12px 32px;
}

.btn:hover {
  background-color: rgb(76, 8, 211);
}

.header__customer--title {
  color: #a0aec0;
  font-size: 14px;
  padding-top: 40px;
  font-weight: bold;
}

.header__customers {
  margin-top: 16px;
  opacity: 0.5;
  padding-right: 130px;
}

/*MAIN - FEATURES*/
#features .row__narrow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.section__tag {
  font-size: 16px;
  color: rgb(76, 8, 211);
  font-weight: 800;
  letter-spacing: 1.6px;
  margin: 0;
}

.section__title {
  font-size: 48px;
  color: #243E63;
  font-weight: 900;
  line-height: 1.5;
  margin: 16px 0;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

.section__para {
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  margin-bottom: 48px;
}

.feature {
  width: calc(100%/3);
  padding-bottom: 50px;
}

.features {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.feature__row {
  display: flex;
  align-items: flex-start;
}

.feature__img {
  width: 24px;
  height: 24px;
}

.feature__img--wrapper { 
  width: 66px;
  height: 66px;
  display: flex;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
}

.feature__text {
  margin-top: 8px;
  margin-left: 16px;
  padding-right: 3rem;
}

.feature__title {
  color: #243e63;
  margin: 5px 0;
}

.feature__para {
  font-size: 16px;
  color: #718096;
  line-height: 2;
  max-width: calc(634px/3);
  font-weight: 500;
}

/*MAIN - QUALITY*/
#quality .row {
  display: flex;
  align-items: center;
}

.quality__description {
  margin-right: 64px;
  width: 40%;
}

.quality__img--wrapper {
  width: 60%;
}

/*MAIN - STEPS*/
#steps .row {
  display: flex;
  align-items: center;
}

.step {
  display: flex;
  align-items: flex-start;
  max-width: 400px;
  margin-top: 32px;
}

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__img--wrapper {
  width: 50%;
  display: flex;
  position: relative;
  margin: 0;
}
.steps__description {
  padding: 32px 0;
  padding-left: 64px;
  width: 50%;
}

.step__number {
  font-size: 36px;
  font-weight: 600;
  color: #cbd5e0;
  line-height: 1;
  padding-right: 20px;
}

.step:first-child .step__number {
  padding-right: 26px;
}

.step__title {
  font-weight: 600;
  font-size: 20px;
  color: #243e63;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}

/*MAIN - VALUES*/
#values .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.values__description, .values__img--wrapper {
  width: 50%;
}

.values__description {
  padding-right: 64px;
}

.values__list {
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}

.value__title {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #243e63;
}

.value__icon--green  {
  background-color: #9ae6b4;
  color: green;
}

.value__icon--pink {
  background-color: #feb2b2;
  color: rgba(155, 44, 44, 1);
}

.value__icon--green,
.value__icon--pink {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value__para {
  font-size: 16px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 1.5;
}

/*PRICING - MAIN*/

#pricing .row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#pricing .section__para {
  max-width: 576px;
  text-align: center;
}

.plans {
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 32px;
  margin: 24px;
}

.plan {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.plan__stripe {
  position: absolute;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0.5rem;
}

.plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__stripe--personal {
  background: linear-gradient(#38b2bc 0%, #81e6d9 100%);
}

.plan:nth-child(2) {
  background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__stripe--enterprise {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan:nth-child(even) :is(
  .plan__name, 
  .plan__price, 
  .plan__target, 
  .plan__duration,
  .plan__feature,
) {
  color: white;
}

/*PRICING - TOP*/

.plan__top {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  line-height: 1.625;
}

.plan__name {
  font-size: 20px;
  font-weight: bold;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
  font-weight: bold;
}

.plan__duration {
  color:#718096;
  font-weight: bold;
}

.plan__name, .plan__price {
  color: black;
}

.plan__name, .plan__price, .plan__duration {
  font-weight: bold;
  line-height: 1.625;
  text-align: center;
}

/*PRICING - MIDDLE*/

.plan__middle {
  padding: 2rem;
}

.plan__target {
  color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.plan__feature {
  color: #718096;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/*PRICING - BOTTOM*/
.plan__bottom {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.plan__btn {
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  padding: 12px 32px;
  text-decoration: none;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.plan__btn:hover {
  filter: brightness(90%);
  transform: translateX(-2px);
}

.plan__btn--personal {
  background: linear-gradient(#38b2bc 0%, #81e6d9 100%);
}

.plan__btn--business {
  color: rgb(76, 81, 191); 
  background: white;
}

.plan__btn--enterprise {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*TESTIMONIALS*/
#testimonials .row {
  display: flex;
  align-items: center;
}

.testimonial__description {
  max-width: 50%;
  padding-left: 64px;
}

.testimonial__img--wrapper {
  max-width: 50%;
}

.testimonial__rating .fa-star {
  margin-bottom: 1rem;
  color: rgba(246, 173, 85);
}

.testimonial__para {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: rgb(74, 85, 104);
}

.testimonial__footer {
  display: flex;
  justify-content: space-between;
}

.testimonial__profile {
  display: flex;
  align-items: center;
}

.testimonial__title {
  color: #4a5568;
  font-size: 20px;
  font-weight: 700;
}

.testimonial__img {
  border-radius: 50%;
  max-width: 80px;
  max-height: 80px;
}

.testimonial__details {
  padding-left: 25px;
}

.testimonial__name {
  color: #4a5568;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.testimonial__role {
  color: #7c8ba1;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.testimonial__btns {
  display: flex;
  align-items: center;
  color: #243e63;
}

.testimonial__btn {
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: #edf2f7;
  margin: 0 12px;
  border: none;
  color:rgb(76, 8, 211);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.testimonial__btn:hover {
  background-color: #d7dadf;
}

.divider {
  background-color: #7c8ba1;
  width: 1px;
  height: 30px;
}

/*START*/

.start__row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 60px;
  margin-top: 5rem;
  background:rgb(100, 21, 255);
  gap: 5rem;
  border-radius: 15px;
}

.start__para {
  font-size: 35px;
  font-weight: 700;
  color: white;
  max-width: 45%;
  line-height: 1.5;
}

.start__buttons {
  display: flex;
  gap: 30px;
}

.start__btn {
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  padding: 20px 40px;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.start__btn:nth-child(1) {
  background-color: #f56565;
  border: none;
}

.start__btn:nth-child(1):hover {
  background-color: rgb(229, 62, 62);
}

.start__btn:nth-child(2) {
  background-color: rgb(100, 21, 255);
  border: 1px solid rgb(160, 174, 192);
}

.start__btn:nth-child(2):hover {
  background-color: white;
  color:rgb(76, 8, 211);
}

/*FOOTER*/

footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6rem 0;
  margin-top: 5rem;
  background:rgb(100, 21, 255);
  gap: 5rem;
  flex-direction: column;
}

.footer__row {
  width: 100%;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.footer__column {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__column--title {
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 16px;
  color: white;
}

.footer__column--link {
  color: white;
  line-height: 1.5;
  margin-top: 12px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}

.footer__column--link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: opacity 300ms ease;
    opacity: 0;
}

.footer__column--link:hover::after {
    opacity: 1;
}

.footer__divider {
  background-color: rgb(116, 44, 255);
  width: 100%;
  height: 2px;
  margin: 64px 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo--img {
  width: 35px;
  height: 35px;
}

.footer__logo--title {
  font-size: 20px;
  color: white;
  font-weight: 900;
  margin-left: 8px;
  letter-spacing: 0.05em;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__copyright {
  color: white;
  font-weight: 500;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__social--link {
  border-radius: 50%;
  padding: 8px;
  background: white;
  cursor: pointer;
  transition: all 300ms ease;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
}

.footer__social--link:hover {
  background-color: rgba(203, 213, 224);
}

/*TABLETS, SMALL PHONES, LARGE SMARTPHONES*/
@media (max-width: 1024px) {

  /* GENERAL */
  .row {
    max-width: 90%;
    flex-direction: column;
  }

  section {
    padding: 0 24px;
  }


  /* NAVIGATION */
  .nav__row {
    max-width: 90%;
  }

  .nav__links {
    gap: 20px;
  }

  .nav__link.login {
    margin-left: 10px;
  }


  /* HEADER */
  header .container {
    padding: 4rem 0;
  }

  .header__description {
    max-width: 45%;
  }

  .header__img--main {
    max-width: 55%;
  }

  .header__para {
    font-size: 17px;
  }

  .header__customers {
    padding-right: 0;
  }


  /* FEATURES */
  .section__para {
    font-size: 17px;
  }

  .feature {
    width: 50%;
  }

  .feature__para {
    max-width: 100%;
    font-size: 15px;
  }


  /* QUALITY */
  .quality__description {
    margin-right: 32px;
  }


  /* STEPS */
  .steps__description {
    padding-left: 32px;
  }

  .step__para {
    font-size: 14px;
  }


  /* VALUES */
  .values__description {
    padding-right: 32px;
  }

  .values__list {
    gap: 20px;
  }

  .value__para {
    font-size: 15px;
  }


  /* PRICING */
  .plans {
    gap: 16px;
  }

  .plan {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .plan__feature {
    font-size: 15px;
  }

  .plan__bottom {
    padding-left: 2rem;
    padding-right: 2rem;
  }


  /* TESTIMONIALS */
  .testimonial__description {
    padding-left: 32px;
  }

  .testimonial__para {
    font-size: 15px;
  }


  /* START */
  .start__row {
    padding: 4rem 40px;
    gap: 3rem;
  }

  .start__para {
    font-size: 30px;
  }


  /* FOOTER */
  .footer__column--link {
    font-size: 14px;
  }

}


@media (max-width: 768px) {

  /* GENERAL */
  .container {
    padding: 24px 0;
  }

  .row {
    max-width: 90%;
    flex-direction: column;
  }

  section {
    padding: 0 20px;
  }

  .btn {
    align-items: center;
  }

  /* NAVIGATION */

  nav {
    padding-top: 20px;
  }

  .nav__row {
    height: auto;
    max-width: 90%;
    align-items: center;
  }

  .nav__links {
    display: none;
  }

  .nav__menu {
    display: flex;
  }

  .nav__links {
    display: none;
  }

  .nav__menu {
    display: flex;
  }

  /* HEADER */

  header .container {
    padding: 4rem 0;
  }

  header .row {
    flex-direction: column;
    text-align: center;
  }

  .header__description {
    max-width: 100%;
  }

  .header__img--main {
    max-width: 80%;
    margin-top: 40px;
  }

  h1 {
    font-size: 40px;
  }

  .header__para {
    font-size: 17px;
    line-height: 1.6;
    margin: 24px 0;
  }

  .header__email {
    margin: 0 auto;
  }

  .header__customers {
    padding-right: 0;
  }


  /* SECTION HEADINGS */

  .section__tag {
    font-size: 15px;
  }

  .section__title {
    font-size: 40px;
    line-height: 1.4;
  }

  .section__para {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 40px;
  }

  .section__tag,
  .section__title,
  .section__para {
    text-align: center;
  }


  /* FEATURES */

  .feature {
    width: 50%;
  }

  .feature__para {
    max-width: 100%;
    font-size: 15px;
    line-height: 1.8;
  }


  /* QUALITY */

  #quality .row {
    flex-direction: column;
  }

  .quality__description {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .quality__img--wrapper {
    width: 80%;
  }


  /* STEPS */

  #steps .row {
    flex-direction: column;
  }

  .steps__img--wrapper {
    width: 80%;
    order: 2;
    margin-top: 40px;
  }

  .steps__description {
    width: 100%;
    padding-left: 0;
    order: 1;
  }

  .step__para {
    font-size: 14px;
    line-height: 1.8;
  }


  /* VALUES */

  #values .row {
    flex-direction: column;
  }

  .values__description,
  .values__img--wrapper {
    width: 100%;
  }

  .values__description {
    padding-right: 0;
    margin-bottom: 40px;
  }

  .value__para {
    font-size: 15px;
    line-height: 1.6;
  }


  /* PRICING */

  .plans {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 24px 0;
  }

  .plan {
    max-width: 500px;
  }

  .plan__feature {
    font-size: 15px;
  }


  /* TESTIMONIALS */

  #testimonials .row {
    flex-direction: column;
  }

  .testimonial__description {
    max-width: 100%;
    padding-left: 0;
    margin-top: 40px;
  }

  .testimonial__img--wrapper {
    max-width: 80%;
  }

  .testimonial__para {
    font-size: 15px;
    line-height: 1.6;
  }


  /* START */

  .start__row {
    flex-direction: column;
    text-align: center;
    padding: 4rem 30px;
  }

  .start__para {
    max-width: 100%;
    font-size: 30px;
    line-height: 1.4;
  }

  .start__buttons {
    justify-content: center;
    flex-wrap: wrap;
  }


  /* FOOTER */

  .footer__columns {
    gap: 32px;
    flex-direction: column;
    align-items: center;

  }

  .footer__column {
    width: 45%;
    align-items: center;
    text-align: center;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
  }

}

@media (max-width: 480px) {

  /* GENERAL */

  .row {
    max-width: 92%;
    flex-direction: column;
  }

  section {
    padding: 0 16px;
  }


  /* NAVIGATION */

  nav {
    padding-top: 16px;
  }

  .nav__row {
    max-width: 92%;
  }

  .nav__logo--img {
    width: 32px;
  }

  .nav__logo--title {
    font-size: 20px;
  }

  .nav__links {
    display: none;
  }

  .nav__menu {
    display: flex;
  }

  /* HEADER */

  header .container {
    padding: 3rem 0;
  }

  h1 {
    font-size: 34px;
    line-height: 1.25;
  }

  .header__para {
    font-size: 16px;
    line-height: 1.6;
    margin: 24px 0;
  }

  .header__img--main {
    max-width: 95%;
  }

  .header__email {
    height: 60px;
  }

  .header__email--entry {
    font-size: 14px;
    padding-left: 16px;
  }

  .btn {
    width: 120px;
    font-size: 14px;
    margin: 5px;
    padding: 10px 16px;
  }


  /* SECTION HEADINGS */

  .section__tag {
    font-size: 13px;
  }

  .section__title {
    font-size: 32px;
    line-height: 1.3;
  }

  .section__para {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 32px;
  }

  .section__tag,
  .section__title,
  .section__para {
    text-align: center;
  }

  /* FEATURES */

  .feature {
    width: 100%;
  }

  .feature__para {
    max-width: 100%;
    font-size: 15px;
    line-height: 1.8;
  }

  .feature {
    width: 50%;
  }

  .feature__para {
    max-width: calc(634px / 2);
  }
  /* QUALITY */

  .quality__img--wrapper {
    width: 100%;
  }


  /* STEPS */

  .steps__img--wrapper {
    width: 100%;
  }

  .step {
    max-width: 100%;
  }

  .step__number {
    font-size: 30px;
  }

  .step__title {
    font-size: 18px;
  }

  .step__para {
    font-size: 14px;
    line-height: 1.7;
  }


  /* VALUES */

  .values__list {
    flex-direction: column;
    gap: 24px;
  }

  .value__para {
    font-size: 15px;
    line-height: 1.6;
  }


  /* PRICING */

  .plan {
    max-width: 100%;
  }

  .plan__top {
    padding: 1.5rem;
  }

  .plan__price {
    font-size: 40px;
  }

  .plan__middle {
    padding: 1.5rem;
  }

  .plan__feature {
    font-size: 15px;
  }

  .plan__bottom {
    padding: 1.5rem 1rem 3rem;
  }


  /* TESTIMONIALS */

  .testimonial__img--wrapper {
    max-width: 100%;
  }

  .testimonial__para {
    font-size: 15px;
    line-height: 1.6;
  }

  .testimonial__title,
  .testimonial__name {
    font-size: 18px;
  }

  .testimonial__role {
    font-size: 14px;
  }


  /* START */

  .start__row {
    padding: 3rem 20px;
    margin-top: 3rem;
  }

  .start__para {
    font-size: 25px;
    line-height: 1.4;
  }

  .start__buttons {
    flex-direction: column;
    width: 100%;
  }

  .start__btn {
    width: 100%;
  }


  /* FOOTER */

  footer {
    padding: 4rem 0;
  }

  .footer__columns {
    gap: 32px;
    flex-direction: column;
    align-items: center;

  }

  .footer__column {
    width: 45%;
    align-items: center;
    text-align: center;
  }

  .footer__divider {
    margin: 40px 0;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
  }

}